<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="../../../assets/Images/myImage/me.jpg" class="img-thumbnail" />
        </div>
        <div class="col-md-8">
            <h1 class="text-center" style="font-style: italic;">Ahmed Raafat Fathi</h1>
            <section style="margin-bottom: 35px;">
                Seeking an opportunity to participate in collaborating, competitive and creative environment where I can
                use my background within software design and development, and also develop my potential in business
                development.
            </section>

            <h4>Education:</h4>
            <ul>
                <li>Faculty of Computer Science, Ain Shams University (2014-2018)</li>
                <li>B.Sc. Computer Science.</li>
                <li><span style="font-weight: bold;">Cumulative Degree:</span> Good.</li>
                <li><span style="font-weight: bold;">Graduation project:</span> Desktop Application to Database Schema
                    Generator.</li>
                <li><span style="font-weight: bold;">Grade:</span> Excellent.</li>
                <li><span style="font-weight: bold;">Description:</span> This system specializes in automatic conversion
                    of entity ERD to relational schema by file imported from user then automatic creation the database
                    of this schema in sql server management studio, and the user can manage the database through user
                    interface in the system.</li>

            </ul>
        </div>
    </div>
    <hr />

    <div style="margin:20px 0 ;">
        <h4>Work Experience:</h4>
        <section style="border: 1px solid; padding: 25px; border-radius: 5px; margin-bottom: 5px;">
            <p><span style="font-weight: bold;">Company:</span> Advansys-ESC (05/2021 - now)</p>
            <p><span style="font-weight: bold;">Position Held:</span>Software Engineer</p>
            <p><span style="font-weight: bold;">Accomplishments:</span>collaborate in the company projects…. Application
                & Site & Integration with other brokers</p>
        </section>
        <section style="border: 1px solid; padding: 25px; border-radius: 5px; margin-bottom: 5px;">
            <p><span style="font-weight: bold;">Company:</span> Centro Global Solutions (08/2020 - 05/2021)</p>
            <p><span style="font-weight: bold;">Position Held:</span>Full Stack .Net Developer</p>
            <p><span style="font-weight: bold;">Accomplishments:</span>collaborate in the company projects…. Application
                & Site</p>
        </section>
        <section style="border: 1px solid; padding: 25px; border-radius: 5px; margin-bottom: 5px;">
            <p><span style="font-weight: bold;">Company:</span> CleverSys (06/2019 - 08/2020)</p>
            <p><span style="font-weight: bold;">Position Held:</span>Full Stack .Net Developer</p>
            <p><span style="font-weight: bold;">Accomplishments:</span>collaborate in the company projects…. Application
                & Site</p>
        </section>

        <section style="border: 1px solid; padding: 25px; border-radius: 5px; margin-bottom: 5px;">
            <p><span style="font-weight: bold;">Company:</span> GMG Group (07/2017 - 06/2019)</p>
            <p><span style="font-weight: bold;">Position Held:</span>.Net Developer</p>
            <p><span style="font-weight: bold;">Accomplishments:</span>collaborate in the company projects for its hotel
                in Saudi Arabia.</p>

        </section>
    </div>

    <hr />
    <div class="row" style="margin: 25px 0;">
        <div class="col-md-4">
            <h3>My Skills</h3>
            <ul>
                <li>C#</li>
                <li>.Net Core</li>
                <li>Unit Testing</li>
                <li>Microsoft SQL Server</li>
                <li>HTML5, CSS</li>
                <li>Bootstrap</li>
                <li>Javascript</li>
                <li>Angular 4+</li>
                <li>Jquery</li>
            </ul>
        </div>

        <div class="col-md-4">
            <h3>Certificates</h3>
            <ul>
                <li>Dell EMC (EAA-007-0715)</li>
            </ul>

            <h3>Interests</h3>
            <ul>
                <li>Practice Sports</li>
                <li>Problem Solving</li>
            </ul>
        </div>

        <div class="col-md-4">
            <h3>Languages</h3>
            <ul>
                <li>Arabic: Native.</li>
                <li>English: good.</li>
            </ul>
        </div>
    </div>

    

</div>


<div id="copyrights">
    <div class="container">
      <p>
        &copy; Copyrights <strong>Instant</strong>. All Rights Reserved
      </p>
      <div class="credits">
        Created with <a href="">Ahmed Raafat</a>
      </div>
    </div>
  </div>