<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Instant - Bootstrap Personal Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous">
  <!-- Google Fonts -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet"> -->



  <!-- =======================================================
    
  ======================================================= -->
</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">A.R.F</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fa fa-bars" style="color:#fff; font-size:25px; border: none;"></i>
      </button>
      <!--  -->

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about']">About</a>
          </li>
        </ul>

        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/manage']" *ngIf="!profileService.checkUserLogedIn() && !socialLoginService.checkSocialUserLogedIn()">Register/Login</a>
          </li>

         

          <li class="nav-item dropdown" *ngIf="profileService.checkUserLogedIn() || socialLoginService.checkSocialUserLogedIn()">
            <a class="nav-link dropdown-toggle" style="font-weight: bold;font-style: italic;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{username}}
            </a>
            <div class="dropdown-menu" style="background-color: black;">
              <a class="nav-link" href="#">Edit Info</a>
              <div class="dropdown-divider"></div>
              <a class="nav-link" style="cursor: pointer;" (click)="logout()">Logout</a>
            </div>
          </li>

        </ul>
      </div>
    </div>

  </nav>

  <router-outlet></router-outlet>
</body>

</html>